*{
    padding: 0px;
    margin: 0px;
}
.content{
    height: 650px;
    /* background-color:black; */
    display: flex;
    justify-content: flex-start;
}
.leftside{
    height: 650px;
    width: 18%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 0%;
    z-index: 100;
    padding-left: 15px;
    padding: 0px;
    margin: 0px;
  
}
.rightside{
    width: 82%;
    height: 650px;
    background-color:white;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.logo img{
    height: 70px;
    width: 170px;;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 10px;
}
.nav{
    height: 390px;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap:10px;
    padding-left:9px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.a{
    text-decoration-line: none;
}

.home{
    height: 45px;
    width: 100%;
   display: flex;
   /* justify-content: flex-start; */
   justify-content: center;
   /* align-items: center; */
   /* gap:10px; */
   font-size: 1.5rem;
   border: 1px solid transparent;
}
.logotext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.logocon{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
h1{ 
    color: white;
    font-size: 2rem;
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif; 
    font-weight: 900;

}
button{
 
  background-color: rgba(153, 205, 50, 0.418);
  width:100%;
  height:auto;
  border: 1px solid transparent;
  border-radius: 15px;
  color: yellowgreen;
  font-size: .8rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px;
  text-align: center;
}

.icon{
    font-size: 2.4rem;
    color: white;
    /* padding-left: 10px; */
}
.home p{
    /* margin-top: 7px; */
    margin-bottom: 0%;
    font-size:1vw;  
    filter: brightness(15%);  
}

.ho:hover{
    color:white;
    transform: translate(15px,0px);
    font-variation-settings: 'FILL'1,'wght' 400,'GRAD' 0,'opsz' 24;
}
.se:hover{
    color:white;
    transform: translate(15px,0px);
    font-variation-settings: 'FILL'1,'wght' 400,'GRAD' 0,'opsz' 24;
}
.pro:hover{
    color:white;
    transform: translate(15px,0px);
    font-variation-settings: 'FILL'1,'wght' 400,'GRAD' 0,'opsz' 24;
}
.fav:hover{
    color:white;
    transform: translate(15px,0px);
    font-variation-settings: 'FILL'1,'wght' 400,'GRAD' 0,'opsz' 24;
}
.car:hover{
    color:white;
    transform: translate(15px,0px);
    font-variation-settings: 'FILL'1,'wght' 400,'GRAD' 0,'opsz' 24;
}
.cat:hover{
    color:white;
    transform: translate(15px,0px);
    font-variation-settings: 'FILL'1,'wght' 400,'GRAD' 0,'opsz' 24;
}



.caico{
   color: yellowgreen;
    font-variation-settings: 'FILL'1,'wght' 400,'GRAD' 0,'opsz' 24;
}

@media (max-width:500px){
    .side-menu{
        padding-left:10px;
    }
    .logo img{
        width: 84px;
        height: 45px;
        padding-left:5px;
    }
    h1{
        font-size:1rem;
    }

    .icon{
        font-size: 1.3rem;
    }
    
}
.center{
    height: 45px;
    width: 50%;
   display: flex;
   margin: 0px;
   padding:0px;
   justify-content:flex-start;
   align-items: center;
}


















.cardbody p{
    margin: 0px;
}
a{
    text-decoration-line: none;
    color:white;
}
h6{
    margin: 0px; 
}

.row{
    min-height: 600px;
    width: 97%;
    /* background-color: yellow; */
    /* border:1px solid black; */
    gap:30px;
   
 }
.co{
    height: 400px;
    /* border:2px solid yellowgreen; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    box-shadow: 0.5px 1.5px 2px 1px  rgba(143, 207, 25, 0.514);
    
 }
 .co img{
    height: 170px;
    width: 100%;
    border-radius: 10px;
 }
 .co:hover{
    transform: translate(15px,10px);
 }
 .co h6{
    /* font-size:1vw; */
    text-shadow: 1px 1.5px 1px rgba(167, 167, 164, 0.438);
   
 }
 /* .co p{
    font-size: 1vw;
 } */
.link{
  color:yellowgreen;
  text-decoration: underline;
  /* background-color: yellowgreen; */
  /* height: 3vw;
  width: 12vw; */
  height: 50px;
  width: 200px;
  display: flex;
  /* justify-content: center; */
  padding: 10px;
  align-items: center;
  border-radius: 5px;
}
.link:hover{
    color:white;
    background-color: yellowgreen;
    text-decoration: none;
    justify-content: center;
}
.cardbody{
    display: flex;
    flex-direction: column;
    gap:5px
}
.cardbody h6{
    color:yellowgreen;
}
/* @media (max-width:900px){
    .rightside{
        padding-top:0px;
        flex: none;
    }
   .co{
    height: 200px;
    font-size: 7px;
   }
   .co h6{
    font-size: 8px;
   }
   .link{
    width: 85px;
    height: 20px;
    font-size: 5px;
   }
   .co img{
    height: 70px;
   }
} */

@media (min-width:992px){
    .co{
        width: 270px;
    }
}



.footer{
    min-height: 250px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;

}
.hello {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
/* hr{
    width:100px;
} */

ul{
    list-style-type: none;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap:5px;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color:yellowgreen;
}


.list{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}


.hello h5{
    color: yellowgreen;
    margin: 0px;
}
.sit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
}



.sit img{
    height: 35px;
    width: auto;
  
}
